#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "cops"
name = "COPS"
description.en = "Calibre OPDS (and HTML) PHP Server"
description.fr = "Calibre OPDS (et HTML) PHP Serveur"

version = "3.8.2~ynh1"

maintainers = ["polytan02"]

[upstream]
license = "GPL-2.0"
code = "https://github.com/mikespub-org/seblucas-cops"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = "not_relevant"
sso = "not_relevant"

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/cops"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr", "en"]
    default = "fr"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/mikespub-org/seblucas-cops/releases/download/3.8.2/cops-3.8.2-php82.zip"
    sha256 = "cb4e871787ddd176f85c8738883d3c59794e03acda9f4b67438072f3e5761f38"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "php8.2-xml",
        "php8.2-mbstring",
        "php8.2-zip",
        "php8.2-gd",
        "php8.2-sqlite3",
        "php8.2-intl",
    ]
